@media screen and (min-width: 32.5em) {
    
    main img{
        float: right;
        margin-top: -1em;
    }

    main {
        margin-top: 2em;
        margin-bottom: 2em;
        margin-left: 5em;
        margin-right: 5em;
    }

}