@media only screen and (min-width: 32em) {
    h1 {
      font-size: 3em;
    }
    main {
      grid-template-columns: 1fr 1fr;
    }
  
    #Block1 {
      grid-column: 1 / 2;
    }
    #Block2 {
      grid-column: 2 / 3;
    }
    #Block3 {
      grid-column: 1 / 2;
    }
  }